
//colors
$gray: #edf2f9;
$white: #ffffff;
$blue1: #2d7be5;
$blue2: #98bef1;
$black: #5e6978;

// grisnegritas #5e6e82
// textogris #5e6978
// testonegro #414c5b


//Typografy
@font-face{
  font-family: "Poppins";
  src: url('../assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
}

body {
	line-height: 1;
	background:$gray;
  font-family: "Poppins";
}

.app {
  height: 100vh;
}


.full-size {
  width: 100vw;
  height: 100vh;
}

.dasboardRoutes {
  display: block;
}

@media (min-width: 480px) {
  .dasboardRoutes {
    display: flex;
  }
}

// Alert
.alert {
  padding: .75rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;

  &-danger {
    color: #781d2d;;
    background-color: #fad7dd;
    border-color: #f8c7d0;
  }
}

//Spinner
.spinner {
  width: 70px;
  margin: 0 auto;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: $white;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}