.menu{
    overflow: auto;
    width: 70px;
    z-index: 110;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #fff;
    transition: transform .3s ease-in-out;

  ul li {
    padding: 16px;
    text-align: center;
  }

  &_active {
    left: 0;
    transform: translateX(-100%);
    
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: 109;
  background-color: rgba(0,0,0,.1);
  animation: transform .3s ease-in-out;
}


@media (min-width: 480px) {
  .overlay {
    display: none;
  }

  .menu {
    transform: none;
    left: 0;
    width: 100px;
    overflow: auto;
    width: 100px;
    z-index: 110;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}